[Unit]
Description=Coturn
PartOf=coturn.target
After=coturn-valkey.service
Wants=coturn-valkey.service

[Container]
ContainerName=coturn
Image=docker.io/coturn/coturn:alpine
AutoUpdate=registry

Network=host

Volume=/srv/coturn/coturn/turnserver.conf:/etc/turnserver.conf:Z,ro
Volume=/srv/coturn/coturn/logs:/var/log/coturn:Z
Volume=/srv/coturn/certs:/etc/certs:Z,ro
ReadOnly=true

User=300003
Group=300003

NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_BIND_SERVICE

#PodmanArgs=--runtime-flag network=host
PodmanArgs=--runtime=crun

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

CPUQuota=500%
MemoryAccounting=true
MemoryHigh=8G
StartupMemoryHigh=8G
MemoryMax=10G
StartupMemoryMax=10G
SocketBindAllow=tcp:5349
SocketBindAllow=udp:3478
SocketBindAllow=udp:49152-65535
SocketBindDeny=any

[Install]
WantedBy=coturn.target