[Unit]
Description=Coturn
PartOf=coturn.target

[Container]
ContainerName=coturn
Image=docker.io/coturn/coturn:alpine
AutoUpdate=registry

Network=host

Volume=/srv/coturn/coturn/turnserver.conf:/etc/turnserver.conf:Z,ro
Volume=/srv/coturn/coturn/logs:/var/log/coturn:Z
Volume=/srv/coturn/certs:/etc/certs:Z,ro

ReadOnly=true

User=300003
Group=300003

NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_BIND_SERVICE

PodmanArgs=--runtime=runc

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=coturn.target