[Unit]
Description=Coturn Valkey
PartOf=coturn.target

[Container]
ContainerName=coturn-valkey
Image=ghcr.io/polarix-containers/valkey:9
AutoUpdate=registry

PublishPort=127.0.0.1:6379:6379/tcp
Network=coturn.network

Volume=/srv/coturn/valkey:/data:Z
ReadOnly=true

User=200010
Group=200010

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=coturn.target