[Unit]
Description=Documenso PostgreSQL
PartOf=documenso.target

[Container]
ContainerName=documenso-postgres
Image=ghcr.io/polarix-containers/postgres:18
AutoUpdate=registry

Network=documenso-postgres.network

Volume=/srv/documenso/postgres:/var/lib/postgresql/18/docker:Z
Volume=/srv/documenso/postgres_dump:/dump:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

EnvironmentFile=/srv/documenso/postgres.env
User=200012
Group=200012

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=pg_isready -U documenso
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=documenso.target