[Unit]
Description=Documenso
PartOf=documenso.target
After=documenso-postgres.service
Wants=documenso-postgres.service

[Container]
ContainerName=documenso
Image=docker.io/documenso/documenso:latest
AutoUpdate=registry

PublishPort=3000:3000/tcp
Network=documenso.network
Network=documenso-postgres.network

ReadOnly=true

EnvironmentFile=/srv/documenso/documenso.env
User=300021
Group=300021

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=documenso.target