[Unit]
Description=Forgejo
PartOf=forgejo.target
After=forgejo-postgres.service
Wants=forgejo-postgres.service

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:14-rootless
AutoUpdate=registry

PublishPort=3000:3000/tcp
PublishPort=222:2222/tcp
Network=forgejo.network
Network=forgejo-postgres.network

Volume=/srv/forgejo/forgejo:/var/lib/gitea:Z
ReadOnly=true

User=300020
Group=300020

NoNewPrivileges=true
DropCapability=ALL

EnvironmentFile=/srv/forgejo/forgejo.env

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=forgejo.target