[Unit]
Description=Livekit
PartOf=livekit.target
After=livekit-valkey.service
Wants=livekit-valkey.service

[Container]
ContainerName=livekit
Image=docker.io/livekit/livekit-server:latest
AutoUpdate=registry

Network=host

Volume=/srv/livekit/livekit.yaml:/etc/livekit.yaml:Z,ro
Volume=/srv/livekit/certs:/certs:Z,ro
ReadOnly=true

User=300011
Group=300011

NoNewPrivileges=true
DropCapability=ALL

Exec=--config /etc/livekit.yaml
#PodmanArgs=--runtime-flag network=host
PodmanArgs=--runtime=crun

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

CPUQuota=500%
MemoryAccounting=true
MemoryHigh=8G
StartupMemoryHigh=8G
MemoryMax=10G
StartupMemoryMax=10G
SocketBindAllow=tcp:7880
SocketBindAllow=tcp:7881
SocketBindAllow=tcp:5350
SocketBindAllow=udp:3479
SocketBindAllow=udp:30000-40000
SocketBindDeny=any

[Install]
WantedBy=livekit.target
