[Unit]
Description=LiveKit Valkey
PartOf=livekit.target

[Container]
ContainerName=livekit-valkey
Image=ghcr.io/polarix-containers/valkey:9
AutoUpdate=registry

PublishPort=127.0.0.1:6380:6379/tcp
Network=livekit.network

Volume=/srv/livekit/valkey:/data:Z
ReadOnly=true

User=200010
Group=200010

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=livekit.target