[Unit]
Description=Miniflux
PartOf=miniflux.target
After=miniflux-postgres.service
Wants=miniflux-postgres.service

[Container]
ContainerName=miniflux
Image=docker.io/miniflux/miniflux:latest-distroless
AutoUpdate=registry

PublishPort=8080:8080/tcp
Network=miniflux.network

EnvironmentFile=/srv/miniflux/miniflux.env
User=300000
Group=300000

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=miniflux.target
