[Unit]
Description=Miniflux
PartOf=miniflux.target
After=miniflux-postgres.service
Wants=miniflux-postgres.service

[Container]
ContainerName=miniflux
Image=docker.io/miniflux/miniflux:latest
AutoUpdate=registry

PublishPort=8443:8443/tcp
Network=miniflux.network
Network=miniflux-postgres.network

Volume=/srv/miniflux/certs:/certs:Z,ro
ReadOnly=true

EnvironmentFile=/srv/miniflux/miniflux.env
User=300000
Group=300000

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=miniflux.target
