[Unit]
Description=OpenCloud
PartOf=opencloud.target

[Container]
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:latest
AutoUpdate=registry

PublishPort=9200:9200/tcp
Network=opencloud.network

Volume=/srv/opencloud/opencloud/config:/etc/opencloud:Z
Volume=/srv/opencloud/opencloud/data:/var/lib/opencloud:Z
Volume=/srv/opencloud/opencloud/logs:/logs:Z
Volume=/srv/opencloud/certs:/certs:Z,ro
ReadOnly=true

EnvironmentFile=/srv/opencloud/opencloud.env
User=1000
Group=1000

NoNewPrivileges=true
DropCapability=ALL

PodmanArgs=--runtime=runc

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=opencloud.target
