[Unit]
Description=Paperless-ngx
PartOf=paperless-ngx.target
After=paperless-ngx-postgres.service
Wants=paperless-ngx-postgres.service
After=paperless-ngx-valkey.service
Wants=paperless-ngx-valkey.service

[Container]
ContainerName=paperless-ngx
Image=ghcr.io/polarix-containers/paperless-ngx:latest
AutoUpdate=registry

PublishPort=8000:8000/tcp
Network=paperless-ngx.network
Network=paperless-ngx-postgres.network
Network=paperless-ngx-valkey.network

Volume=/srv/paperless-ngx/paperless-ngx/data:/usr/src/paperless/data:Z
Volume=/srv/paperless-ngx/paperless-ngx/media:/usr/src/paperless/media:Z
Volume=/srv/paperless-ngx/paperless-ngx/export:/usr/src/paperless/export:Z
Volume=/srv/paperless-ngx/paperless-ngx/consume:/usr/src/paperless/consume:Z

EnvironmentFile=/srv/paperless-ngx/paperless-ngx.env

NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=paperless-ngx.target