[Unit]
Description=Redlib
PartOf=redlib.target

[Container]
ContainerName=redlib
Image=quay.io/redlib/redlib:latest
AutoUpdate=registry

PublishPort=8080:8080

ReadOnly=true

EnvironmentFile=/srv/redlib/redlib.env
User=300001
Group=300001

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=wget --spider -q --tries=1 http://localhost:8080/settings
HealthInterval=5m
HealthTimeout=3s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=redlib.target
