[Unit]
Description=Scriberr
PartOf=scriberr.target

[Container]
ContainerName=scriberr
Image=ghcr.io/rishikanthc/scriberr:latest
AutoUpdate=registry

PublishPort=8080:8080/tcp
Network=scriberr.network

Volume=/srv/scriberr/scriberr:/app/data:Z

EnvironmentFile=/srv/scriberr/scriberr.env

NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=scriberr.target