[Unit]
Description=Signature PDF
PartOf=signature-pdf.target

[Container]
ContainerName=signature-pdf
Image=docker.io/xgaia/signaturepdf
AutoUpdate=registry

PublishPort=8080:80/tcp
Network=signature-pdf.network

Volume=/srv/signature-pdf/signature-pdf:/data:Z

EnvironmentFile=/srv/signature-pdf/signature-pdf.env

NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=signature-pdf.target
