[Unit]
Description=Stalwart PostgreSQL
PartOf=stalwart.target

[Container]
ContainerName=stalwart-postgres
Image=ghcr.io/polarix-containers/postgres:17
AutoUpdate=registry

Network=stalwart.network

Volume=/srv/stalwart/postgres:/var/lib/postgresql/data:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

EnvironmentFile=/srv/stalwart/postgres.env
User=200012
Group=200012

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=pg_isready -U stalwart
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=stalwart.target