[Unit]
Description=Stalwart
PartOf=stalwart.target
After=stalwart-postgres.service
Wants=stalwart-postgres.service

[Container]
ContainerName=stalwart
Image=ghcr.io/stalwartlabs/stalwart:latest-alpine
AutoUpdate=registry

PublishPort=127.0.0.1:8443:443/tcp
PublishPort=465:465/tcp
PublishPort=587:587/tcp
PublishPort=993:993/tcp
Network=stalwart.network

Volume=/srv/stalwart/stalwart:/opt/stalwart:Z
Volume=/etc/letsencrypt:/etc/letsencrypt:Z

NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=stalwart.target
