[Unit]
Description=Stirling PDF
PartOf=stirling-pdf.target

[Container]
ContainerName=stirling-pdf
Image=ghcr.io/polarix-containers/stirling-pdf:ultra-lite
AutoUpdate=registry

PublishPort=8080:8080
Network=stirling-pdf.network

Volume=/srv/stirling-pdf/stirling-pdf/trainingData:/usr/share/tessdata:Z
Volume=/srv/stirling-pdf/stirling-pdf/extraConfigs:/configs:Z
Volume=/srv/stirling-pdf/stirling-pdf/customFiles:/customFiles:Z
Volume=/srv/stirling-pdf/stirling-pdf/logs:/logs:Z
Volume=/srv/stirling-pdf/stirling-pdf/pipeline:/pipeline:Z
ReadOnly=true

User=200013
Group=200013

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=stirling-pdf.target