[Unit]
Description=Traccar
PartOf=traccar.target
After=traccar-postgres.service
Wants=traccar-postgres.service

[Container]
ContainerName=traccar
Image=ghcr.io/polarix-containers/traccar:latest
AutoUpdate=registry

PublishPort=8082:8082/tcp
PublishPort=5055:5055/tcp
Network=traccar.network

Volume=/srv/traccar/traccar/logs:/opt/traccar/logs:Z
Volume=/srv/traccar/traccar/override:/opt/traccar/override:Z
ReadOnly=true

EnvironmentFile=/srv/traccar/traccar.env
User=200018
Group=200018

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=wget -q --spider http://localhost:8082/api/health
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=traccar.target
