[Unit]
Description=Uptime Kuma
PartOf=uptime-kuma.target

[Container]
ContainerName=uptime-kuma
Image=louislam/uptime-kuma:beta-rootless
AutoUpdate=registry

PublishPort=3001:3001/tcp
Network=uptime-kuma.network

Volume=/srv/uptime-kuma/uptime-kuma:/app/data:Z

User=300002
Group=300002

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=uptime-kuma.target