[Unit]
Description=Uptime Kuma
PartOf=uptime-kuma.target

[Container]
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:2-slim-rootless
AutoUpdate=registry

PublishPort=3001:3001/tcp
Network=uptime-kuma.network

Volume=/srv/uptime-kuma/uptime-kuma:/app/data:Z
ReadOnly=true

User=300002
Group=300002

NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_RAW

PodmanArgs=--runtime=runc

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=uptime-kuma.target