[Unit]
Description=Synchronize Miniflux certificates
Requisite=miniflux.target

[Service]
Type=oneshot   
ExecStart=/usr/sbin/systemctl restart miniflux