[Unit]
Description=Synchronize OpenCloud certificates
Requisite=docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/systemctl restart opencloud