[Unit]
Description=Signature-PDF stack
After=multi-user.target rescue.service rescue.target
Requires=multi-user.target

[Install]
WantedBy=multi-user.target