[Unit]
Description=Synchronize Stalwart certificates
Requisite=stalwart.target

[Service]
Type=oneshot     
ExecStart=/usr/sbin/systemctl restart stalwart